        table {
            border-collapse: collapse;
            width: 90%;
            margin: 20px auto;
            background-color: lightgray;
        }

        th,
        td {
            border: 1px solid black;
            text-align: center;
            padding: 10px;
            background-color: lightgray;
        }

        th {
            background-color: rgb(57, 53, 53);
            color: white;

        }

        audio {
            width: 200px;
            border: 2px solid green;
            border-radius: 8px;
            padding: 3px;
        }

        a {
            color: blue;
        }