#main-title {
    text-align: center;
    font-family: Arial, sans-serif;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 18px;
    border: 1px solid black;
    text-align: center;

}

th,
td {
    border: 1px solid black;
    text-align: center;
}

table thead {
    background: blue;
}

table thead th {
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    border-collapse: collapse;

    border: 1px solid black;
}

.headerStyle {
    background-color: blue;
    color: white;
}

.highlightFirstRow {
    background-color: lightblue;
    color: darkblue;
    font-weight: bold;
    font-size: 40px;
}

.markRow:hover {
    background-color: lightblue;
    color: darkblue;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
}

.songLink:link {
    color: purple;
}

.songLink:visited {
    color: red;
}



a {
    display: block;
    text-align: center;
    font-size: 22px;
    color: blue;
}

a:hover {
    text-decoration: underline;
}